body{
    background-color:#C2E5D3;
    text-align:center;
 }  
 nav{
     height:40px;
     width:100%;
     background-color:rgb(86, 86, 96 );
  margin-top:-20px;
  display:flex;
  justify-content:end;
  padding-top:30px;
  position:fixed;
  margin-bottom:100px;
 }
 a{
     padding:20px; 
     color:white;  
 }
 .n-link{
    padding:5px 15px; 
    color:white;  
    border-radius:10px;
    margin-right:18px;
}
.n-link:hover{
    padding:5px 25px; 
width:30px;  
border:1px solid white;
}

.child1{
    width:40%;
    height:757px;
background-color:rgba(93, 109, 126,0.8 )
}
.child2{
    width:60%;
    height:757px;
    background-color:white;
}
.parent{
    display:flex;
    /* display:fixed; */
}
.p-child{
    width:350px;
    height:450px;
    background-color:rgb(220, 220,225);
    margin-top:9%;
     margin-left:-76%; 
border-radius:10px;
}
img{
    border-radius:50%;
    margin-top:30px;
    border:7px solid lightgreen;
    height:180px; 
    width:180px;
}
h2{
    font-size:30px;
    letter-spacing:2px;
    color:#da6;
}
hr{
    width:60px;
}
h3{
    font-size:24px;
    letter-spacing:4px;
    color:grey;
}
h1{
    font-size:50px;
}
#p-first{
    font-size:30px;
}
.bt{
    background-color:grey;
    padding:10px 38px;
    border-radius:12px;
    border:1px solid grey;
    margin-right:12px;
}

.detail{
background-color:white;
width:400px;
height:350px;
margin-top:190px;
    margin-left:140px;
    text-align:left;
}