body{
 background-color:lightblue;
 }  
 nav{
     height:40px;
     width:100%;
     background-color:rgb(86, 86, 96 );
  margin-top:-20px;
  display:flex;
  justify-content:end;
  padding-top:20px;
  position:fixed;
  margin-left:-5px;
 }
 a{
     padding:20px; 
     color:white;  
 }
 .n-link{
   padding:5px 15px; 
   color:white;  
   border-radius:10px;
   margin-right:18px;
}
.n-link:hover{
   padding:5px 25px; 
width:30px;  
border:1px solid white;
}
 h1{
    font-family:Copperplate;
    padding-top:10px;
    padding-bottom:40px;
    font-size:39px;
    text-align:center;
 }
 .container{
    /* text-align:center;*/
    padding-left:3%;
    background-color:lightblue;
  } 
 p{
    font-size:18px;
    /* font-family:Courier New; */
 }.list{
    display:flex;
 }
 mark{
    background-color:rgba(125, 66, 180,0.6);
 }
 .t-container{
    width:60%;
    text-align:right;
    height:800px;
    background-size:cover;
    background-position:top;
 }
 .p-container{
    display:flex;
    height:700px;
    width:100%;
    background-color:lightblue;
    padding-top:5%;

 }
 .row{
    width:50%;
    height:240px;
    display:flex;
    padding:5px 3% ;
    background-color:white;
    margin-left:20%;
    border-radius:20px;
 }
 .text{
    width:70%;
    margin-left:2% ;
 }
 .iphon-img{
    padding-left:20%;
    width:30%;
    height:200px;
    padding-top:10px;
 }
 .I-text{
   margin-top:-17px;
 }
